* {
    box-sizing: border-box;
}

.card {
    width: 500px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.card img {
    width: 10rem;
    height: 11rem;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}
.card p {
    margin: 0;
}

.info {
    width: calc(100% - 10rem - 20px);
    margin-left: 1rem;
}

.info #title {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
}

.info #detail {
    color: #404040;
    font-size: 14px;
    margin: 5px auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.info #count {
    color: #888;
    font-size: 0.8rem;
}

.info .text_bt
{
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
    margin-right: 10px;
}

.info .price{
    display: flex;
    line-height: 1;
    align-items:end;
}

.info #new_price {
    color: rgb(250, 137, 25);
    font-size: 1rem;
    font-weight: 400;
    
}

.info #old_price {
    color: #888;
    font-size: 0.5rem;
    margin-left: 0.3rem;
}

.info #remark {
    font-size: 0.5rem;
    color: rgb(250, 137, 25);
}

.info button {
    font-size: 0.7rem;
    height: 1.5rem;
    width: 5rem;
    outline: none;
    border: none;
    background-color: rgb(250, 137, 25);
    color: white;
    border-radius: 15px;
    cursor: pointer;

}